{{define "title"}}Issues · {{.Title}}{{end -}}
{{template "header" .}}  <main>
    <h1>Issues</h1>
    <p><a href="index.html">Back to the table</a></p>
    <div class="table-scroll" role="region" aria-labelledby="issues-caption" tabindex="0">
      <table>
        <caption><span id="issues-caption">Issues per day, all projects, days in UTC</span> {{template "switch" .}}</caption>
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">New</th>
            <th scope="col">Completed</th>
          </tr>
        </thead>
        <tbody>
{{range .IssueDays}}          <tr>
            <th scope="row">{{.Date.Format "2006-01-02"}}</th>
            <td>{{.New}}</td>
            <td>{{.Completed}}</td>
          </tr>
{{end}}        </tbody>
      </table>
    </div>
  </main>
{{template "footer" .}}
